@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

body,
html {
	font-family: var(--font);
	font-size: var(--font-base);
	color: var(--black);
	font-weight: var(--font-normal);
	line-height: var(--line-height-base);
	background-color:#fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}

*, ::after, ::before {
    box-sizing: border-box;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

#sapper {
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6, a, p, body, a {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0 0 .5em;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5rem;
	font-family: var(--font);
	font-weight: var(--font-bold);
	line-height: var(--line-height-small);
	letter-spacing: var(--letter-spacing-base);
	color: var(--black);
}

h1 {
	font-size: var(--font-base);
	text-align: right;
}

h2 {
	font-size: var(--font-h2);
	letter-spacing: var(--letter-spacing-small);
	margin-bottom: var(--title-bottom-margin);
}

h3 {
	font-size: var(--font-h3);
	line-height: var(--line-height-base);
}

h4 {
	font-size: var(--font-h4);
	font-weight: var(--font-normal);
	line-height: var(--line-height-base);
}

h1 a {
	color: var(--black);
}

h2 span {
	color: var(--grey-light);
}

h2 a {
	color: var(--grey-light);
	transition: 0.3s;
	display: inline-block;
	text-overflow: ellipsis;
}

h2 a:hover{
	color: var(--black);
	transform: scale(0.98);
}

p {
	color: var(--grey);
	font-size: var(--font-base);
	line-height: var(--line-height-base);
	margin-top: 0;
	margin-bottom: 1rem;
}

p span,
p a {
	color: var(--black);
}

p a:after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	border-bottom: 2px solid var(--black);
	width: 0;
	transition: width .4s var(--ease-for-hover);
}

p a:hover:after {
	width: 100%;
}

a {
	color: var(--grey);
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

a.action {
	margin-top: 2em;
	display: block;
	float: right;
	transition: 0.3s;
}

a.action:hover{
	color: var(--action);
	transform: scale3d(var(--scale-sm));
}

a.linkedin:hover {
	color: var(--linkedin);
}

a.github:hover {
	color: var(--github);
}

a.dribble:hover {
	color: var(--dribble);
}

a.twitter:hover {
	color: var(--twitter);
}

section {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--sections-bottom-margin);
	position: relative;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	font-size: var(--font-base);
}

figure {
	margin:0 0 1rem;
}

img {
	vertical-align: middle;
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
	vertical-align: middle;
}

button {
	font-size: 1em;
	border-radius: 0;
	background-color: transparent;
	border: none;
	outline: none;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -1em;
	margin-left: -1em;
}

.col,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-8,
.col-10,
.col-12 {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 1em;
	padding-left: 1em;
}

.col {
	-ms-flex:0 0 100%;
	flex:0 0 100%;
	max-width:100%;
}

#hero > div:last-child {
	flex: 1;
	display: flex;
	align-items: center
}

@media (min-width: 48em) {
	main {
		--font-base: 1.1em;
		--font-h2: 2.4em;
		--font-h4: .875em;
		--title-bottom-margin: 3em;
	}

  .col-2 {
		-ms-flex:0 0 16.666667%;
    flex:0 0 16.666667%;
    max-width:16.666667%;
  }
  .col-3 {
		-ms-flex:0 0 25%;
    flex:0 0 25%;
    max-width:25%;
  }
  .col-4 {
		-ms-flex:0 0 33.333333%;
    flex:0 0 33.333333%;
    max-width:33.333333%;
  }
  .col-5 {
		-ms-flex:0 0 41.666667%;
    flex:0 0 41.666667%;
    max-width:41.666667%;
  }
  .col-6 {
		-ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%;
  }
  .col-8 {
		-ms-flex:0 0 66.666667%;
    flex:0 0 66.666667%;
    max-width:66.666667%;
  }
  .col-10 {
		-ms-flex:0 0 83.333333%;
    flex:0 0 83.333333%;
    max-width:83.333333%;
  }
  .col-12 {
		-ms-flex:0 0 100%;
    flex:0 0 100%;
    max-width:100%;
  }
}

@media (min-width: 64em) {
	main {
		--font-h2: 2.8em;
		--font-h4: .9em;
		--title-bottom-margin: 2em;
	}

	h2 {
		font-weight: var(--font-bolder);
	}
}

@media (min-width: 90em) {
	main {
		--font-base: 1.2em;
		--font-h2: 4em;
		--font-h4: .95em;
		--title-bottom-margin: 3em;
	}
}