@font-face {
		font-family: "Helvetia";
    src: url(./fonts/helveticaneue-roman.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "HelvetiaMedium";
    src: url(./fonts/helveticaneue-medium.ttf);
    font-weight: medium;
}

@font-face {
    font-family: "HelvetiaBold";
    src: url(./fonts/helveticaneue-bold.ttf);
}

body,
html {
	font-family: Helvetia, "Arial", sans-serif;
	color: #000;
	font-size: 18px;
}

#sapper {
	overflow: hidden;
}

a {
	color: #171717;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	text-decoration: none;
	color: inherit;
}